[Unit]
Description=Cross-platform Discord rich presence for music with album cover and progress bar support.
After=network.target

[Service]
ExecStart=/usr/bin/music-discord-rpc
Restart=always
RestartSec=10
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
